/app/mapping.txt
/app/app.iml
/app/unused.txt
/app/seeds.txt
/local.properties
/wzj.txt
/ybFace_jd.iml
/vertical_scroll_player/vertical_scroll_player.iml
/skin_christmas_green/
/skin_christmas_red/
/skin_double_eleven/
/skin_halloween/
/skin_yuandan/
/app/src/main/java/com/yunbiao/faceview/NewFaceView.java
/.idea/
/.gradle/
/.idea/
