<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yunbiao.ybsmartcheckin_live_id">

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="${app_icon}"
        android:label="${app_name}"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label,allowBackup">
        <activity android:name=".activity_temper_check_in.SpeechContentActivity"></activity>
        <activity android:name=".activity_certificates.CertificatesAddUserActivity" />
        <activity android:name=".activity_certificates.VertifyRecordActivity" />
        <activity android:name=".activity.ClearPolicyActivity" />
        <activity android:name=".activity_certificates.CertificatesWhiteListActivity" />
        <activity android:name=".activity_safety_check_double_light.SafetyDoubleLightSettingActivity" />
        <activity android:name=".activity_safety_check_double_light.SafetyCheckDoubleLightActivity" />
        <activity android:name=".activity_temper_multiple.AutoCorrectionActivity" />
        <activity
            android:name=".SplashActivity"
            android:enabled="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <!--
                 <category android:name="android.intent.category.HOME" />
                 <category android:name="android.intent.category.DEFAULT" />
                -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".xmpp.NotificationDetailsActivity"
            android:label="Notification Details" />
        <activity
            android:name=".xmpp.NotificationSettingsActivity"
            android:label="Notification Settings" /> <!-- 考勤 -->
        <activity
            android:name=".activity.WelComeActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity_certificates.CertificatesUserListActivity" />
        <activity
            android:name=".activity.EditEmployActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.SignActivity" />
        <activity android:name=".activity.SystemActivity" />
        <activity android:name=".activity.EmployListActivity" />
        <activity android:name=".activity.DepartListActivity" />
        <activity android:name=".activity.VisitorActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.PowerOnOffActivity" /> <!-- 测温考勤机 -->
        <activity
            android:name=".activity_temper_check_in.ThermalImage2Activity"
            android:launchMode="singleTask" />
        <activity android:name=".activity_temper_check_in.ThermalSettingActivity" />
        <activity android:name=".activity_temper_check_in.ThermalSystemActivity" />
        <activity android:name=".activity_temper_check_in.ThermalEmployListActivity" />
        <activity android:name=".activity_temper_check_in.ThermalEditEmployActivity" />
        <activity android:name=".activity_temper_check_in.ThermalSignActivity" />
        <activity android:name=".activity_temper_check_in.ThermalVisitorActivity" />
        <activity android:name=".activity_temper_check_in.TemperatureCorrectActivity" /> <!-- 视美泰竖屏闸机 -->
        <activity
            android:name=".activity_temper_check_in_smt.SMTMain2Activity"
            android:launchMode="singleTask" />
        <activity android:name=".activity_temper_check_in_smt.SMTSystemActivity" />
        <activity android:name=".activity_temper_check_in_smt.SMTEmployListActivity" />
        <activity android:name=".activity_temper_check_in_smt.SMTEditEmployActivity" />
        <activity android:name=".activity_temper_check_in_smt.SMTRecordActivity" />
        <activity android:name=".activity_temper_check_in_smt.SMTSettingActivity" />
        <activity android:name=".activity_temper_check_in_smt.SMTVisitorActivity" /> <!-- 人证 -->
        <activity
            android:name=".activity_certificates.CertificatesActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity android:name=".activity_certificates.CertificatesSystemActivity" />
        <activity android:name=".activity_certificates.CertificatesSettingActivity" />
        <activity android:name=".activity_certificates.CertificatesCorrectActivity" /> <!-- 多人 -->
        <activity android:name=".activity_temper_multiple.MultiThermalSettingActivity" />
        <activity android:name=".activity_safety_check_double_light.SafetyCheckDoubleLightBlackBodyAreaActivity" />
        <activity
            android:name=".activity_temper_multiple.MultiThermalActivity"
            android:launchMode="singleTask" /> <!-- 安检 -->
        <activity android:name=".activity_safety_check.ThermalSafetyCheckSettingActivity" />
        <activity
            android:name=".activity_safety_check.ThermalSafetyCheckActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity_safety_check.BlackBodyAreaActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="xKjZ2Yn9ms9FuRVv1k0IGj3clhaGUIkV" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name=".receiver.BootRestartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.DateChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".business.AlarmManagerUtil$AlarmBroadcast"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="alarm_action" />
            </intent-filter>
        </receiver> <!-- 百度定位 -->
        <service android:name=".TestService" />
        <service android:name="com.huashi.otg.sdk.HsOtgService" />
        <service
            android:name=".ReadCardService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>
        <service android:name=".utils.killSelfService" />
        <service android:name=".xmpp.NotificationService" />
        <service android:name=".receiver.MyProtectService" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:permission="android.permission.BAIDU_LOCATION_SERVICE"
            android:process=":remote" />
    </application>
    <permission android:name="android.permission.REBOOT" />
    <permission android:name="android.permission.SHUTDOWN" />
    <permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <permission android:name="android.permission.UPDATE_DEVICE_STATS" />
    <permission android:name="android.permission.INSTALL_LOCATION_PROVIDER" />
    <permission android:name="android.permission.READ_LOGS" />
    <permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <permission android:name="android.permission.SET_TIME" />
    <permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.hardware.usb.accessory" /> <!-- 弹窗权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 关闭应用程序的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 人脸识别 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 百度定位权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

</manifest>